@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:wght@700&family=Roboto:wght@100..900&display=swap");

@import "nav.css";
@import "header.css";
@import "about.css";
@import "testimonial.css";

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Playfair Display", serif;
  --content-font-family: "Roboto", sans-serif;
  --test-font-family: "Montserrat", sans-serif;
  --test2-font-family: s "baskerville-urw", serif;
  --main-color: #deab5f;
  --secondary-color: #9fd22b;
  --primary-color: #312e2e;
  --header--bg-color: #012939;
}

body {
  min-height: 100vh;
  background: rgba(97, 217, 64, 0.372);
  font-family: var(--content-font-family);
  font-size: 1rem;
  line-height: 1.6;
}
